@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideInFromLeft {
    animation: slideInFromLeft 1s ease-out;
}

.animate-appear {
    animation: appear 2s ease-out;
}

.animate-appearDelay {
    animation: appear 3s ease-out;
}